#wheelDetailContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  margin-top: 0px;
}
.product-img {
  width: 700px;
  height: auto;
}
.item-info {
  background-color: #e9e9e9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#wheelRetailersContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
}
.retailer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(100, 100, 111, 0.7) 0px 7px 29px 0px;
  width: 50%;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #1997ff;
  color: white;
  border: none;
  border-radius: 10px;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 30px;
}
.retailer-website {
  background-color: #0063b4;
  color: white;
  border: none;
  height: 50px;
  width: 200px;
  font-family: Titillium Web;
  font-size: 20px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}
.retailer-website:hover {
  background-color: #1997ff;
  border: 1px solid white;
}
.retailer-name {
  font-family: Titillium Web;
  font-size: 30px;
  font-weight: 700;
  margin: 0px;
}
.retailer-location {
  font-style: italic;
  font-family: Titillium Web;
  font-size: 16px;
  font-weight: 600;
  margin: 0px;
  color: rgb(233, 233, 233);
}
#linktree {
  display: flex;
  align-items: center;
  justify-content: start;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  margin-top: 140px;
}
.linktree-link {
  font-family: Titillium Web;
  font-size: 20px;
  font-weight: 600;
  margin-left: 20px;
  margin-right: 20px;
  color: #1997ff;
  text-decoration: none;
  transition: 0.2s;
}
.linktree-link:hover {
  color: #0063b4;
}
.linktree-current {
  font-family: Titillium Web;
  font-size: 20px;
  font-weight: 600;
  margin-left: 20px;
  margin-right: 20px;
  color: #000000;
  text-decoration: none;
  transition: 0.2s;
}
